{% extends "base.html" %}

{% block title%}
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/manage/view_secret_letter.css') }}">
{% endblock %}

{% block body %}

<form action="/manage" method="get" class="back_button">
    <input type="submit" value="{{translate_data['back'][language]}}"/>
</form>

{%for letter in secret_letter_data%}
{%if letter != "current_letter_count"%}
<div class="center_content">
    <div class="gray_wrapper">
        <div class="date">
            <div>
                {{translate_data['date'][language]}}：{{secret_letter_data[letter]["date"]}}
            </div>
        </div>
        <div class="content">
            <div>
                {{secret_letter_data[letter]["letter_content"]}}
            </div>
        </div>
        <form action="/manage/delete_secret_letters" method="post">
            <input type="text" hidden="hidden" value="{{letter}}" id="delete_letter" name="delete_letter">
            <input class="delete_button" type="submit" value="{{translate_data['delete'][language]}}"/>
        </form>
    </div>
</div>
{%endif%}
{%endfor%}


<script type="text/javascript">

</script>
{% endblock %}