{% extends "base.html" %}

{% block title%}
{% endblock %}

{% block body %}
<div class="secret_box_wrapper"><h1 class="self_center">{{translate_data['secret_letter_box'][language]}}</h1></div>
<div class="secret_box_wrapper">
<form action="{{post_url}}" method="post">
    <input id="date" name="date" type="text" hidden="hidden" value="{{date}}">
    <textarea  id="letter_content" name="letter_content" class="secret_letter_box_text_area self_center"></textarea>
    <div class="submit_button_wrapper">
        <input class="submit_button" type="submit" value="{{translate_data['submit'][language]}}">
    </div>
</form>
</div>

{% endblock %}